    <!DOCTYPE html>
    <meta charset="UTF-8">
    <html>
    <head>
        <style>
            table {
                display: inline-block;
                overflow-y: auto;
                height: 200px;
                width: inherit;
            }
        </style>
    </head>
    <body>
        <div style="text-align: center">
            <h1>Professor Example's Active Applications</h1>
            <form asp-action="ProfViewApplication" asp-controller="Professor" asp-antiforgery="true" method="post">
            <table border="1" cellpadding="10" align="center">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Graduation Year</th>
                        <th>Major</th>
                        <th>Organization Name</th>
                        <th>Semester Start</th>
                        <th>Signed</th>
                        <th>Date Signed</th>
                    </tr>
                </thead>
                <tbody>
                    @{List<int> recordIds = new List<int>(); }
                        @foreach (var item in (List<ApplicationData>)Model)
                        {

                            // whenever the Value from Application Data is equal to the course name
                            // the professor teaches, grab that record ID. Then, use it to make
                            // entries into the table.

                            if (item.Value == "csci492")
                            {
                                recordIds.Add(item.RecordId);
                            }
                        }
                        @foreach (int x in recordIds)
                        {
                        <tr> 
                            @foreach (var datum in (List<ApplicationData>)Model)
                            {
                                <!-- Name-->

                                @if (datum.RecordId == x && datum.DataKeyId == 3)
                                {
                                    <td>
                                        @datum.Value
                                    </td>
                                    continue;
                                }


                                <!-- Semester Enrolled-->
                                @if (datum.RecordId == x && datum.DataKeyId == 7)
                                {
                                    <td>
                                        @datum.Value
                                    </td>
                                }


                                <!-- Grad Year-->
                                @if (datum.RecordId == x && datum.DataKeyId == 8)
                                {
                                    <td>
                                        @datum.Value
                                    </td>
                                }


                                <!-- Major-->
                                @if (datum.RecordId == x && datum.DataKeyId == 11)
                                {
                                    <td>
                                        @datum.Value
                                    </td>
                                }


                                <!-- Company Name-->
                                @if (datum.RecordId == x && datum.DataKeyId == 19)
                                {
                                    <td>
                                        @datum.Value
                                    </td>
                                }


                                <!-- Date Assigned-->
                                @if (datum.RecordId == x && datum.DataKeyId == 38)
                                {
                                    <td>
                                        @datum.Value
                                    </td>
                                }


                                <!-- Signed?-->
                                @if (datum.RecordId == x && datum.DataKeyId == 39)
                                {
                                    bool signo = false;
                                    <td>
                                        @if (datum.Value != null)
                                        {
                                            signo = true;

                                        }
                                        <input type="checkbox" value=@signo />
                                    </td>
                                }
                            }
                            <td><input type ="submit" 
                                       class="buttonMenu" 
                                       name="response" 
                                       value="Details" 
                                       formaction="@Url.Action("ProfViewApplication", "Professor", new {y=x})"
                                        onmouseover=""style="cursor: pointer;"></td>
                        </tr>
                        }
                    <tr><td colspan="8">&nbsp;</td></tr>
                    <tr><td colspan="8">&nbsp;</td></tr>
                    <tr><td colspan="8">&nbsp;</td></tr>
                    <tr><td colspan="8">&nbsp;</td></tr>
                    <tr><td colspan="8">&nbsp;</td></tr>
                    <tr><td colspan="8">&nbsp;</td></tr>
                    <tr><td colspan="8">&nbsp;</td></tr>
                    <tr><td colspan="8">&nbsp;</td></tr>
                    <tr><td colspan="8">&nbsp;</td></tr>
                    <tr><td colspan="8">&nbsp;</td></tr>
                </tbody>
            </table>
                </form>
        </div>
    </body>
</html>
