<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <div style="text-align: center">
        </table>
        <h1><i>Winthrop's Internship Application - Employer</i></h1>
    </div>

</head>
<!--display data from Controller-->

<Interactive_Internship_Application.Models.ApplicationTemplate>
<!-- Iterates through every piece in the list and displays it-->
<!--NEED TO ADD DROP DOWN MENU TO DB-->
<!--variable to determine where to put breaks-->
@{var count = 0;}
<!--Below is what was added after talking with Dysean, it is an attempt to get data from view to controller-->
    <form asp-action="SubmittedEmployer" asp-controller="Employer" asp-antiforgery="true" method="post">
        <div class="outer-div">


            @Html.AntiForgeryToken()
            @foreach (var item in (List<ApplicationTemplate>)Model)
            {


                count++;

                @if (item.ControlType == "check" && item.Entity == "Employer")
                {
                    <br /><br />
                    @item.ProperName
                    <p>

                        No <input type="radio" name=@item.Id value="No" checked>
                        Yes<input type="radio" name=@item.Id value="Yes">
                    </p>
                }

                else if (item.ControlType == "file" && item.Entity == "Employer")
                {
                    <input type="file" name="@item.Id" style="padding:5px;">
                    <br>
                    <br>
                }

                else if (item.ControlType == "textarea" && item.Entity == "Employer")
                {
                    <div class="inner-div">
                    <br /> @item.ProperName <br /><textarea name="@item.Id" value="@item.ProperName" rows="4" cols="100"></textarea> <br />
                    </div>
                }

                else if (item.Entity == "Employer")
                {

                    <div class="inner-div">
                        @item.ProperName <input type="text" name="@item.Id" value="" size="15" rows="1" cols="5">
                    </div>



                }

                if (count == 3)
                {
                    <br />
                    count = 0; //reset count
                }

            }
    </div>
            <!--<input type="submit" value="Save">
    <input type="submit" value="Submit">-->
            <!--Dysean code to save data into database-->
            <input type="submit" name="response" value="Submitted" formaction=@Url.Action("Submitted")
                   formmethod="post">


</form>
</html>