<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

    function acceptBoxes() {
        acceptFields = document.getElementById('acceptFields');
        denyFields = document.getElementById('denyFields');
        saveBox = document.getElementById('saveBox');

        denyFields.style.visibility = "hidden";
        acceptFields.style.visibility = "visible";
        saveBox.style.visibility = "visible";
    }
    function denyBoxes() {
        denyFields = document.getElementById('denyFields');
        acceptFields = document.getElementById('acceptFields');
        saveBox = document.getElementById('saveBox');

        acceptFields.style.visibility = "hidden";
        saveBox.style.visibility = "visible";
        denyFields.style.visibility = "visible";
    }
</script>

@model Dictionary<ApplicationTemplate, ApplicationData>

<body>
    <h1><i>Viewing @ViewBag.studName's Application (@ViewBag.className)</i></h1>
    <h2><i>ID - @ViewBag.Id</i></h2>
    <table>
        <tr>
            <td>
                <table border="1" cellpadding="10" style="display:inline-block;overflow-y:auto;overflow-x:hidden;max-height:450px;">
                    <thead>
                        <tr>
                            <th>Field Name</th>
                            <th>Answer</th>
                        </tr>
                    </thead>

                    @foreach (var field in Model)
                    {
                        @if (field.Key.Entity != "D.E.R.")
                        {
                            <tr>
                                <td>@field.Key.ProperName (@field.Key.Entity)</td>
                                <td>@field.Value.Value</td>
                            </tr>
                        }
                    }
                </table>
            </td>
            <td style="padding-left:50px;width:20px;">
                <input type='submit' class="buttonMenu" value='Approve Application' onclick='acceptBoxes(); return false;'><br />
                <input type='submit' class="buttonMenu" value='Deny Application' onclick='denyBoxes(); return false;'>
                <form asp-action="FinishApplication" asp-controller="DER" asp-antiforgery="true" method="post">
                        @foreach (var field in Model)
                        {
                            <div id="acceptFields" style="visibility:hidden;">
                                @if (field.Key.FieldName == "DER_sig" )
                                {
                                    @field.Key.ProperName <br />
                                    <input type="text" class='input' name=@field.Key.Id value="" size="15" /> <br />

                                }
                                @if (field.Key.FieldName == "DER_date")
                                {
                                    @field.Key.ProperName <br />
                                    <input type="text" class='input' name=@field.Key.Id value="" size="15" /> <br />

                                }
                            </div>    
                            <div id="denyFields" style="visibility:hidden;">
                                @if (field.Key.FieldName == "denial_reas")
                                {
                                    @field.Key.ProperName <br />
                                    <textarea type="text" class="input" name=@field.Key.Id value="" size="15" rows="5" cols="15" maxlength="500"></textarea> <br />
                                }
                            </div>
                        }
                    
                    <input type='submit' id="saveBox" class="buttonMenu" value='Submit Response' style="visibility:hidden;" formaction=@Url.Action("FinishApplication") ;
                           formmethod="post">

                    <input type="hidden" name="recordID" value="@ViewBag.Id" />
                </form>
            </td>
        </tr>
    </table>


    @*<div id="acceptFields" style="visibility:hidden;">
            D.E.R. Signature <br />
            <input type="text" class='input' name="DER_sig" value="" size="15" /> <br />
            Today's Date <br />
            <input type="text" class="input" name="DER_date" value="" size="15" /> <br />
        </div>
        <div id="denyFields" style="visibility:hidden;">
            Denial Reason <br />
            <textarea type="text" class="input" name="denial_reas" value="" size="15" rows="5" cols="15" maxlength="500"></textarea> <br />
        </div>*@



</body>












