

<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<!--IS IT POSSIBLE TO KNOW WHICH ENTITY SHE CLICKED AND THEN FILL THIS PAGE DYNAMICALLY,
INSTEAD OF HAVING A DIFFERENT WEBPAGE PER ENTITY?-->

<head>
    <!-- Link CSS styling code to html page-->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <div style="text-align: center">
        <!--Quick Links-->
        <table align="left" style="width:20%" margin-left="10px">
            <tr>
                <th>Quick Links</th>
            </tr>
            <tr>
                <td><a href="https://bb-winthrop.blackboard.com">Blackboard</a></td>
            </tr>
            <tr>
                <td><a href="https://ssb.winthrop.edu/prod/bwckctlg.p_disp_dyn_ctlg">Course Descriptions</a></td>
            </tr>
            <tr>
                <td><a href="https://wingspan.winthrop.edu">Wingspan</a></td>
            </tr>


        </table>

        <h1><i>Editing @ViewBag.entity Template</i></h1>
        <br /><br />

</head>
<body>
    <form asp-action="EnableFieldInDB" asp-controller="DER" asp-antiforgery="true" method="post">
        <div style="text-align: center">
            <h3>Add a Field</h3>
            <table border="1" cellpadding="10" align="center">
                <tbody>
                    <tr style="font-size:12px" class="clickable-row" data-href=''>
                        <th>Field Name</th>
                        <td>
                            <select name="disabledFieldType">
                                <option value="select">[Select One]</option>
                                @if (ViewBag.disabledFields.Count == 0)
                                {
                                    <option> No Disabled Fields!</option>
                                }
                                @foreach (var field in ViewBag.disabledFields)
                                {
                                    <option value="@field">@field</option>
                                }
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center">
                <input type="submit" class="buttonMenu" name="response" value="Enabled Field" formaction=@Url.Action("EnableFieldInDB", new { entity = ViewBag.entity })
                       formmethod="post">
            </div>
        </div>
    </form>

    <br />
    <h3>OR</h3>
    <br />
    <form asp-action="SaveFieldToDB" asp-controller="DER" asp-antiforgery="true" method="post">

        <h3>Create a New Field</h3>
        <table border="1" cellpadding="10" align="center">
            <tbody>
                <tr style="font-size:12px;" class="clickable-row" data-href=''>
                    <td>Field Name</td>
                    <td><input type="text" name="fieldName" value="" size="15"></td>
                </tr>

                <tr style="font-size:12px" class="clickable-row" data-href=''>
                    <td>Field Description</td>
                    <td><textarea name="fieldDesc" value="" size="15" rows="10" cols="30" maxlength="1000"></textarea></td>
                </tr>

                <tr style="font-size:12px" class="clickable-row" data-href=''>
                    <td>Type</td>
                    <td>
                        <select name="fieldType">
                            <option value="select">[Select One]</option>
                            <option value="checkbox">Check Box</option>
                            <option value="number">Number</option>
                            <option value="text">Text</option>
                        </select>
                    </td>
                </tr>

                <tr style="font-size:12px" class="clickable-row" data-href=''>
                    <td>Required</td>
                    <td><input name="required" type="checkbox" value="1" /></td>
                </tr>
            </tbody>
        </table>

        <!-- Add Button-->
        <div style="text-align: center">
            <input type="submit" class="buttonMenu" name="response" value="Add Field" formaction=@Url.Action("SaveFieldToDB", new { entity = ViewBag.entity }) ;
                   formmethod="post">
        </div>
    </form>


    <br><br>

    <form asp-action="DisableFieldInDB" asp-controller="DER" asp-antiforgery="true" method="post">

        <h3>Disable A Field</h3>
        <table border="1" cellpadding="10" align="center">
            <tbody>
                <tr style="font-size:12px" class="clickable-row" data-href=''>
                    <th>Field Name</th>
                    <td>
                        <select name="deleteFieldType">
                            <option value="select">[Select One]</option>
                            @if (ViewBag.enabledFields.Count == 0)
                            {
                                <option> No Enabled fields to disabled!</option>
                            }
                            @foreach (var field in ViewBag.enabledFields)
                            {
                                <option value="@field">@field</option>
                            }
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Delete Button-->
        <div style="text-align: center">
                <input type="submit" class="buttonMenu" name="response" value="Disable Field" formaction=@Url.Action("DisableFieldInDB", new { entity = ViewBag.entity }) ;
                       formmethod="post">
        </div>
    </form>

    </div>

</body>
</html>
